/* src/pages/Chatbot.css */
.chatbot-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200%;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.chatbox {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
 
}

.message {
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  max-width: 80%;
}

.user {
  background-color: #007bff;
  color: #fff;
  align-self: flex-end;
}

.bot {
  background-color: #eaeaea;
  color: #333;
  align-self: flex-start;
}

.input-container {
  display: flex;
  padding: 10px;
  background-color: #fff;
  border-top: 1px solid #ccc;
}

.input-container input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 16px;
}

.input-container button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #ece9e9;
  cursor: pointer;
}

.input-container button:hover {
  background-color: #0056b3;
}
