/* src/Navbar.css */
.navbar {
  background-color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 97%;
  right: 0%;
  left: 0%;
  z-index: 1000; /* Ensures it stays on top */
}

.navbar-logo a {
  color: #662d91;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar-links li {
  display: inline;
}

.navbar-links a {
  color: #662d91;
  text-decoration: none;
  font-size: 18px;
}

.navbar-links a:hover {
  text-decoration: underline;
}

body {
  padding-top: 60px; /* To prevent the content from hiding under the navbar */
}
/* src/styles/Navbar.css */
.navbar-logo-image {
  width: 200px;  /* Adjust to a smaller size */
  height: auto;  /* Maintain aspect ratio */
}
