/* SinUp.css */
.signup-container {
 text-align: center;
  padding: 20px;
}

.signup-container h2 {
  margin-bottom: 20px;
  color: #fff;
}

.signup-container input {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 80%;
  max-width: 400px;
  border: 1px solid #9154ad;
  border-radius: 5px;
}

.signup-container button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #007bff;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
}
